/* Setting the font for the entire page to sans-serif. */
body {
  font-family: sans-serif;
}


/* It's the CSS for the navbar. */
.nav {    
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  -webkit-box-shadow: 3px 3px 10px 3px #595959;
  -moz-box-shadow: 3px 3px 10px 3px #595959;
  box-shadow: 3px 3px 10px 3px #595959;
  position: sticky;
  top: 0;

  height: 80px;
  margin: -10px;


  background-color: darkblue;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Adding a margin to the left and right of the logout and location buttons. */
.logout {
  margin-left: 20px;
}

.location {
  display: flex;
  margin-right: 30px;
}

.locationselect {
  margin-left: 5px;
}


.cleaning-products {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.item {
  background-color: #4CAF50;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  -webkit-box-shadow: 2px 2px 5px 2px #c3c3c3;
  -moz-box-shadow: 2px 2px 5px 2px #c3c3c3;
  box-shadow: 2px 2px 5px 2px #c3c3c3;

  margin-bottom: 10px;
  padding-top: 30px;
  padding-left: 80%;
  padding-bottom: 30px;
  border-radius: 8px;

  margin-top: 15px;
}



